.wrapper {
  width: 390px;
margin: 0 auto;
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
}

.wrapper div {
  text-align: center;
}

.avatar {
    background-color: rgb(46, 54, 54);
}

img {
  border-radius: 50%;
  border: 3px solid black;
  width: 150px;
}

.name {
  font-weight: bold;
  font-size: 1.4em;
}

.userdata {
  font-size: 1.4em;
}

ul {
  display: flex;
  background-color: darkgray;
}

li {
  width: 130px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  font-size: 1.4em;
}

.value {
  font-weight: bold;
}
